*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(to right, #FDC830, #F37335);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header{
    font-family: calibri;
    font-size: 62px;
}

.div{
    margin-top: 42px;
    width: 512px;
    height: 468px;
    background-image: url(./asdfasdfas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    zoom: 40%;
    border-radius: 50%;

}

.file{
    width: 512px;
    height: 468px;
    opacity: 0;
    overflow: hidden;
    cursor: pointer;
}